<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <style>
      .title {
        background-color: black;
        color: orange;
        padding: 30px 40px;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Home page</h1>
    <nav>
      <a href="/contacts.html">Contacts</a>
      <a href="/about.html">About</a>
    </nav>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
      facere officia accusantium explicabo, quo voluptates temporibus eius
      soluta excepturi ut iure accusamus repellendus repellat iusto eum ipsam at
      libero tenetur expedita unde! Iusto dicta odio quae expedita dolor
      inventore illo nisi nostrum ipsum. Debitis aspernatur magnam reprehenderit
      facere quod numquam distinctio eius facilis! Facilis praesentium obcaecati
      magnam aut atque neque, ipsam in dicta cupiditate consequuntur voluptatem
      totam ipsa possimus, blanditiis illum. Minima nesciunt non officiis magni
      repudiandae facere eius, natus veritatis sequi, nam, vitae saepe explicabo
      architecto dolores. Explicabo neque ipsam fuga ad sequi unde odit ab
      temporibus suscipit eaque enim veritatis, exercitationem iure maxime
      ratione quod porro obcaecati officia ducimus, aperiam quisquam nisi
      consequatur a dolorem. Veritatis nam similique quisquam quos dolore. Nemo
      rem similique, voluptatem, quibusdam tenetur saepe commodi deserunt
      architecto alias nesciunt ipsa. Veritatis, quidem facere? Voluptate ab at
      error velit minus fuga consequatur, sunt quidem quasi.
    </p>
  </body>
</html>
